 -  Fixed DKIM signatures using `ed25519-sha256` or `simple` header
    canonicalization failing verification by receiving mail servers.
